nav {
  background-color: navy;
  padding: 1rem 2rem;
  box-shadow: 0px 0px 2px 1px gray;
  border-radius: 10px;
  font-style:oblique;
  font-size: 1.2rem;
}

nav ul{
  list-style: none;
  display: flex;
  gap: 2rem;
}

nav li{
  display: inline-block;
}

nav a{
  color: white;
  text-decoration: none;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: all 0.3 ease;
}

nav a:hover{
  background-color: rgba(255, 255, 255, 0.2);
  transform: translateY(-2px);
}

#lista-productos{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
  background-color: white;
}

#lista-productos li{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(99, 197, 216, 0.2);
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
}

footer{
  text-align: center;
  background-color: navy;
  color: white;
  border-radius: 10px;
}